.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 40px;
  gap: 25px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.box {
  display: inline-block;
  box-sizing: border-box;
}

.img-preview {
  overflow: hidden;
}

.topic {
  font-size: 16px;
  margin-bottom: 10px;
}

.groupButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.a:hover {
  text-decoration: underline;
}

.a:active {
  color: #000;
}

.button {
  border: none;
  text-decoration: none;
  width: 200px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 24px;

}

.button:hover,
.uploadImgButton:hover {
  background: var(--button-primary-hover);
}

.uploadImgButton {
  width: 200px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 24px;
  text-align: center;
  align-items: center;
  width: 200px;
  position: relative;
}

.uploadInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  margin-top: 50px;
}

.cropContainer {
  top: 0;
  left: 0;
  width: 800px;
  height: 400px;
}

.baseReactEasyCrop {
  position: relative;
  width: 100%;
  height: 100%;

}